html,
body {
    background: #eceef1;
    display: block;
    font-family: AvenirNext, Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar {
    width: 100%;
    justify-content: flex-end;
    text-align: right;
    display: inline-flex;
    padding: 1em;
}

button {
    background: #0077C5;
    padding: 10px 20px 10px 20px;
    margin: 0px 20px 0px 0px;
    color: white;
    border-radius: 4px;
    border: 1px solid #4c4c4c;
}

.links {
    font-size: .7em;
    line-height: 15px;
    position: relative;
    top: 5px;
}

a {
    text-decoration: none;
    color: #0077C5;
}

.home {
    width: 118px;
    height: 35px;
    display: inline-flex;
    background: url(https://plugin.intuitcdn.net/identity-authn-core-ui/1.0.0-dev.93/images/ecosystem_logos_new.png)-236px 0px;
}

.home:hover {
    width: 118px;
    height: 35px;
    display: inline-flex;
    background: url(https://plugin.intuitcdn.net/identity-authn-core-ui/1.0.0-dev.93/images/ecosystem_logos_new.png)0px 0px;
}

.next {
    width: 330px;
    display: inline-flex;
    height: 35px;
    background: url(https://plugin.intuitcdn.net/identity-authn-core-ui/1.0.0-dev.93/images/ecosystem_logos_new.png)0px 35px;
}

h3 {
    font-weight: 300;
    margin-left: 5px;
}

h2 {
    font-weight: 700;
    margin-left: 5px;
}

form {
    width: 350px;
    background: white;
    min-height: 615px;
    height: fit-content;
    border: 1px solid #c7c7c7;
    display: inline-block;
}

input {
    width: 300px;
    padding: 10px;
}

label {
    width: 300px;
}

.field {
    width: 100%;
    padding: 5px;
    display: block;
    text-align: left;
}

#createAccount {
    width: 300px !important;
    padding: 15px !important;
}

.recaptha {
    width: 100%;
    background: #4c4c4c;
    color: white;
    padding: 0px;
}

.mainLogo,
.mainContent {
    align-content: center;
    text-align: center;
}